.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include responsive(tab-port) {
      top: 3rem;
      right: 3rem;
    }
    @include custom-screen(500px) {
      height: 5rem;
      width: 5rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 100;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    @include responsive(tab-port) {
      top: 3rem;
      right: 3rem;
    }

    @include custom-screen(500px) {
      height: 5rem;
      width: 5rem;
    }
  }

  &__nav {
    opacity: 0;
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -200rem;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(1, 0.1, 0.41, 1.43);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      text-transform: uppercase;
      color: $color-white;
      text-decoration: none;
      background-image: linear-gradient(
        120deg,
        transparent 50%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.4s;

      @include custom-screen(500px) {
        font-size: 2rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    left: inherit;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    @include custom-screen(500px) {
      margin-top: 2.5rem;
    }

    &,
    &:before,
    &:after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;

      @include custom-screen(500px) {
        width: 2rem;
        height: 1.5px;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
