.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 1.5rem;
      right: 4.5rem;
      text-decoration: none;
      font-size: 4rem;
      display: inline-block;
      transition: all 0.2s;

      @include custom-screen(420px) {
        top: -1rem;
        right: 1rem;
      }
    }

    &:hover {
      color: $color-primary;
    }
  }

  &:target &__content {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25);
    width: 75%;
    // height: auto;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    z-index: 10000;
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s 0.1s;

    @include custom-screen(1100px) {
      flex-direction: column;
      align-items: flex-start;
      max-width: 90%;
    }
    @include custom-screen(420px) {
      overflow: scroll;
      height: 80%;
    }
  }

  &__left {
    width: 33.33%;
    @include custom-screen(1100px) {
      width: 100%;
      display: flex;
    }
  }
  &__right {
    width: 66.66%;
    padding: 3rem 5rem;
    align-self: center;
    text-align: center;
    @include custom-screen(1100px) {
      width: 100%;
    }
  }
  &__img {
    display: block;
    width: 100%;
    @include custom-screen(1100px) {
      width: 50%;
    }
    @include custom-screen(1100px) {
      display: none;
    }
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    text-align: justify;

    column-count: 2;
    -moz-column-count: 2;
    column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    -moz-column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

    @include custom-screen(600px) {
      column-count: 1;
    }
    @include custom-screen(420px) {
      overflow: scroll;
    }
  }
}
